.container-header-profile{
    display: flex;
    justify-content: space-between;
}
.header-item-profile{
    margin-top: 3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: #cecbcb;
    padding: 3rem;
    color: #666666;
    border-style: none;
    border-radius: 16px;
    width: 20rem;
    text-align: center;
    box-shadow: 0px 0px 15px 0px;
}
.picture-profile{
    margin-top: 1rem;
    width: 150px;
    height: 150px;
}
.container-btn-update{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}
.input-text{
    margin-top: 1rem;
    min-width: 13rem;
    height: 1.8rem;
    border-radius: 0.5rem;
    border-style: none;
    padding-left: 0.5rem;
}
.btnUpdateDataProfile {
    border: none;
    border-radius: 0.5em;
    width: 8rem;
    padding: 15px 0;
    color: #fff;
    letter-spacing: 1px;
    background: #191a19;
    cursor: pointer;
  }