.forgotpassword{
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: url("../../images/trianglesbg.svg");
    display: flex;
    align-items: center;
}
.forgotpassword .btncontainer-forgot{
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(194, 194, 194);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}
.send-email{
    margin-top: 1rem;
    text-align: center;
}
.title-email-sended{
    font-size: 16px;
}
.logofather-forgot{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.forgotpassword .btncontainer-forgot .input-email-sended{
    margin-top: 1rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5em;
    font-size: 19px;
    padding: 10px;
    background: rgb(248, 248, 248, 50%);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}
.btn-send-email{
    width: 40%;
    padding: 1rem;
    background-color: #5fe46c;
    cursor: pointer;
    color:#fff;
    border:none;
    border-radius: 0.25rem;
}
.btn-cancel-forgot{
    width: 40%;
    padding: 1rem;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
    color:#fff;
    border:none;
    border-radius: 0.25rem;
}